<div class='home container-fluid'>
<p>
	<b> What do I do now? </b>
</p>
<p>
  I am an intern at Rails Girls Summer of Code. I would proudly say, my team is one of the 14 teams
	selected from all over the world for this internship. As part of my internship, I develop features
	for an open source project called <a href="www.osem.io"> osem </a> which helps to organize software conferences.
</p>
<p>
	<b> What would I say about my experience as an intern?</b>
</p>
<p>
  I would say it’s awesome learning experience. I have learnt hard skills like dealing with advanced git,
	dealing with external api and working with huge code base and soft skills like communicating with
	geographically diverse team, giving problem context when asking help.
</p>
<p>
	<b> What do I think about coding? </b>
</p>
<p>
	I think coding is giving life to an idea.
</p>

<p>
	<b> What do I do when I am not working? </b>
</p>
<p>
  Busy acting in my daughter's roleplays. So far I had an opportunity to play good student,
	farmer, patient, doctor, an astronaut and super women.
</p>
<p> Do you want to know more about me click <b> FAQ link...<b> </p>
<p> Click <%= link_to "here",  map_path %> to see the map <p>
<div>
