<div class ='home container-fluid'>
  <h1 class='text-centered'> More about myself </h1>
  <p> <b> What is my name? </b> </p>
  <p> Anitha Palanisamy </p>
  <p> <b>  How can you contact me? </b> </p>
  <p> Send email to <a href="mailto:" + <%= @email %>> <%= @email %> </a> </p>
  <p> <b> Where can you see my work? </b> </p>
  <p> Checkout here the projects I worked so far in <a href= <%= @github %>> Github </a> </p>
  <p> <b> What is my LinkedIn url? </b> </p>
  <p> <a href= <%= @linkedin %> > Linkedin </a> </p>
  <p> <b> Can you tell us why we asked you to fork this repo instead of clone it?</b> </p>
  <p>
    Because, You wanted to know who forked your repo and I know git best practices to contribute in a team environment.
  </p>
  <p> <b> Tell us about your favorite coding project of all time? What was great about it?</b> </p>
  <p>
    One of my favorite project is Triplanner. The idea of this app has born from my real time experience.
    This app helps in two stages. One is pre-trip, where it helps to invite friends to a trip and discuss like what
    they want to do and where they want to go. This app also has voting feature that makes decision process easy.
    In post-trip stage, it also helps in expense calculation. I would say this app is great, because this gave me
    an opportunity to participate in all stages of software development, make many mistakes, find solutions to problem
    and gave me sense of accomplishment that I could solve a problem.
  </p>
</div>
